header{
    background-color:sandybrown;
    height: 40px;
    width: 800px;
    font-size: x-large;
    }
.content{
    background-color: rgba(168, 168, 177, 0.621);
    width: 800px;
}
footer{
    background-color:sandybrown;
    height: 40px;
    width: 800px;
    font-size: x-large;
}
.skills{
    margin-right: 100px;
    align-content: center;
}